# Dependency directories
node_modules/
jspm_packages/

# Visual Studio Code files
.vscode/
# IntelliJ IDEA files
.idea/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test
.env.local
