@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

#logo {
    text-align: center;
}

#logo img {
    border-radius: 1em;
}

.qr {
    display: none;
}

#main-banner {
    background-image: url("/assets/banner.jpg");
    width: 100%;
    background-repeat: no-repeat;
}

#main-grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 3em;
    text-align: center;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.product-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.product-info h1 {
    margin-top: 0;
}

.product-screenshots {
    display: block;
    text-align: center;
}

.product-screenshots img {
    margin-bottom: 3rem;
}

.product-image img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(4px 3px 6px #aaa);
}

#products-download {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("/assets/products.svg");
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
}

#products-download h1 {
    font-size: 3rem;
    font-family: 'Montserrat Light', sans-serif;
}

.product-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-button {
    height: 36vw;
}

.product-button img {
    width: 100%;
    height: 100%;
}

#product-slogan {
    margin-bottom: 3rem;
}

#product-slogan .letter {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
}

#products-link button {
    /*border: none;*/
    border-radius: 1em;
    padding: 20px 90px;
    color: #0E1821;
    background-image: linear-gradient(#14E3FF, #1FAFDD);
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.17);
}

#products-link {
    text-decoration: none;
    color: #0E1821;
}

#guide-header {
    font-size: 1.25rem;
    text-align: center;
}

#video-container {
    width: 90vw;
    height: 40rem;
    margin: 0 auto;
}

iframe {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

@media (min-width: 400px) {
    .product-info, #guide-header {
        font-size: 1.4rem;
    }
}

@media (min-width: 640px) {
    .product-screenshots {
        display: flex;
        justify-content: space-around;
    }

    #logo {
        position: absolute;
        margin-left: 3em;
    }

    .qr {
        display: block;
    }
}

@media (min-width: 1024px) {

    #video-container {
        width: 560px;
        height: 65em;
    }

    #product-slogan .letter {
        color: #fff;
    }

    .section-grid {
        grid-template-columns: 1fr 1fr;
    }

    #main-grid {
        grid-template-columns: 1fr 1fr;
        margin-top: 5em;
    }

    #products-download {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product-info,
    #guide-header {
        font-size: 1.5em;
    }

    .product-info.even {
        order: 1;
        padding-left: 4rem;
    }

    .product-screenshots img {
        margin-bottom: 0;
    }

    .product-button {
        width: 430px;
        height: 170px;
    }

    .product-image {
        width: 306px;
        height: 648px;
    }
}
